<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.UserDAO">
    <!-- 此处报错是因为DAO 写成了Dao-->
    <select id="queryAll" resultType="User">
        select * FROM cmfz1.t_user77
    </select>
    <insert id="save" parameterType="User">
        INSERT  INTO cmfz1.t_user77(id,name,password) VALUES (#{id},#{name},#{password})
    </insert>

</mapper>







